# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Buffer files
*.c~

# Binaries
wolves-squirrels-serial
wolves-squirrels-omp
wolves-squirrels-mpi

# Test files
test.txt
outputs
